*{
    box-sizing:border-box;

        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */

}
@font-face {
    font-family: 'AlegreyaSans';
    src: url('https://limitless-castle-38573.herokuapp.com/AlegreyaSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alice';
    src: url('https://limitless-castle-38573.herokuapp.com/Alice-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amita';
    src: url('https://limitless-castle-38573.herokuapp.com/Amita-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BadScript';
    src: url('https://limitless-castle-38573.herokuapp.com/BadScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BalooDa2';
    src: url('https://limitless-castle-38573.herokuapp.com/BalooDa2-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: url('https://limitless-castle-38573.herokuapp.com/Caveat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Changa';
    src: url('https://limitless-castle-38573.herokuapp.com/Changa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantInfant';
    src: url('https://limitless-castle-38573.herokuapp.com/CormorantInfant-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FrankRuhlLibre';
    src: url('https://limitless-castle-38573.herokuapp.com/FrankRuhlLibre-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1';
    src: url('https://limitless-castle-38573.herokuapp.com/GothicA1-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HindSiliguri';
    src: url('https://limitless-castle-38573.herokuapp.com/HindSiliguri-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kalam';
    src: url('https://limitless-castle-38573.herokuapp.com/Kalam-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('https://limitless-castle-38573.herokuapp.com/Lobster-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'Pacifico';
    src: url('https://limitless-castle-38573.herokuapp.com/Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color:#1A161D;
    --secondary-color:#1c1b1b;
    --terciary-color:#242323;
    --fields-color:#292828;
    --item-object:#292828;
    --ligth-color:#2D88FF;

    --panel-animation-height:225px;
    --panel-animation__top-menu_height:35px;
    --action-editor__timeline-area-width:80%;
    --keyframes-bar__property-lane-height:20px;
  }
html{
    font-size:10px;

}
  body{
      /*overflow: hidden;*/
      color:rgba(255,255,255,.9);
      background:rgba(0,0,0,1);
      position:relative;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      overflow:hidden;
      height:100vh;
      width:100%;
  }

/*================================*/
/*GENERICS*/
/*================================*/
.available-soon{
    opacity:0.3;
}
input{
    border:none;
}
input:disabled{
    color:rgba(255,255,255,.6)
}
button{
    border:none;
}
.container-floating-panels{
    width:100%;
    height:100%;
    position: relative;
}
.floating-panel{
    display:none;
    position: absolute;
    width:100%;
    left:0;
    top:0;
}
.modal{
    border-radius: 4px;
    position:absolute;
    background: var(--primary-color);
    width:700px;
    height:600px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;

    display: flex;
    flex-direction: column;
}
.modal__filter{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
    top:0;
    z-index:3000;
    background:rgba(0,0,0,.5);
    display: none;
}
.modal__header{
    width:100%;
    position:relative;
    padding:20px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15em;
    color:rgba(255,255,255,.5);
}
.modal__header__btn-close-modal{
    width:20px;
    height:20px;
    position:absolute;
    right:10px;
    top:10px;
    content: "\ea0f"; /*icon X*/
    cursor:pointer;
    font-size:1.6rem;
    color:rgba(255,255,255,.5);
}
.modal__header__btn-close-modal:hover{
    color:rgb(255,255,255);
}

.modal__body{
    flex-grow: 1;
}
.modal__footer{
    display: flex;
    justify-content: flex-end;
    padding:10px;
    margin-top: auto;
}
.modal__footer__btn-action{
    cursor:pointer;
    padding:8px 14px;
    border:0;
}

.btn-action{
    color:white;
    border:none;
    font-size: 1.15rem;
    background: var(--terciary-color);
    border-radius: 6px;
    padding:10px;
    position: relative; /*important*/

}
.btn-action:after{
    /*inherits from .button-solid-behaviour*/
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    cursor:pointer;
}
.button-solid-behaviour{
    position: relative;
}
.button-solid-behaviour:after{ /*se refiere a cajas que se pueden convertir en botones, y que contienen otros elementos*/
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    cursor:pointer;
}
[class*="btn-toggle-panel"]{
    background:var(--fields-color);
    color:rgba(255,255,255,0.6);
    border-radius: 15px 0 0 15px;
    position:absolute;
    height:50px;
    width:20px;
    transform: translateY(-50%);

    text-align: center;
    line-height: 50px;

}
.btn-toggle-panel-right{
    left:-20px;
    top:50%;
}
.btn-toggle-panel-right i{
    display: inline-block;
    transform:rotate(-90deg) !important;
}
.btn-toggle-panel-left{
    border-radius: 0 15px 15px 0;
    right:-20px;
    top:50%;
}
.btn-toggle-panel-left i{
    display: inline-block;
    transform:rotate(90deg);
}
.btn-toggle-panel-bottom{
    transform: translate(-50%, 0);
    border-radius: 15px 15px 0 0;
    height:20px;
    width:60px;
    left:50%;
    top:-20px;
    line-height: 20px;
}
.canvas-animator__object-entrance-configuration .tooltip{
    display: none;
    opacity:0;
    position:absolute;
    bottom:-35px;
    background:black;
    text-align: center;
    color:white;
    border-radius: 5px;
    padding:3px;
    font-size:.7em;

}
/*input between buttons*/
.property-input{
    font-size: 1.15rem;
    width:35%;
    height:100%;
    display:inline-flex;
    /*justify-content: space-between;*/
}
.property-input .field-value{
    display: inline-block;
    width:40%;
    line-height: 100%;
    font-size: 1.04em;
    text-align: center;
    padding:2px;
    border:0;
    color:rgba(255,255,255,.6);

    border-top:1px solid rgba(255,255,255,.3);;
    border-bottom:1px solid rgba(255,255,255,.3);;
    background: var(--terciary-color);

}
.property-input button{
    display: inline-block;
    width:30%;
    border:1px solid rgba(255,255,255,.3);
    background:var(--terciary-color);
    font-family: "icomoon", serif;
    font-size: 1.04em;
    color:rgba(255,255,255,.6);
    vertical-align: center;
    line-height: 100%;
}
.property-input .btn-decrease{
    border-radius: 4px 0 0 4px;
}
.property-input .btn-increase{
    border-radius: 0 4px 4px 0;
}
.property-input .btn-decrease:before{
    content: "\ea0b";
}
.property-input .btn-increase:before{
    content: "\ea0a";
}
/*editable lable*/
.box-text{
    height:100%;
}
.box-text input{
    color:white;
    outline:none;
    border:none;
    background:transparent;
    margin:0;
    padding:0;
    font-size:1em;
    line-height: 100%;
    vertical-align: middle;
}
.box-text p{
    line-height: 100%;
    vertical-align: middle;
    font-size:1em;

}
.row{
    display:flex;
}
/*range widget*/
.range-widget{

}
.range-widget .row:first-child{
    justify-content: space-between;
}
.range-widget__field{
    width:40px;
}
.range-widget__slider{
    width:100%;
}

/*================================*/
/*AUTHENTICATION*/
/*================================*/
.panel-authentication__filter{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
    top:0;
    z-index:4000;
    background:rgba(0,0,0,.5);
}
.panel-authentication{
    position:absolute;
    background: white;
    width:500px;
    height:500px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
/*================================*/
/*PANEL-ANIMATION*/
/*================================*/
.panel-animation{
    background:#727376;
    width:100%;
    height:var(--panel-animation-height);
    position:absolute !important;
    bottom:0;
    left:0;
    z-index: 1000;
    font-size: 1.15rem;
    transition:bottom .3s;
}
.panel-animation__top-bar{
    position: relative;
    height:var(--panel-animation__top-menu_height);
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:var(--terciary-color);
}
.panel-animation__top-bar__top-menu{
    list-style:none;
    height:100%;
    display:flex;
}
.panel-animation__top-bar__top-menu__item{
    padding:10px;
    display:flex;
    align-items: center;
    color:white;
    cursor:pointer;
}
.panel-animation__top-bar__top-menu__item:hover{
    background:#48887B;
}
.panel-animation__top-bar__area-editors-menus{
    height:100%;
}
.panel-animation__top-bar__area-editors-menus > [class*="editor-menu"]{
    height:100%;
}
.panel-animation__top-bar__area-editors-menus__action-editor-menu .tool{
    display: inline-block;
    height:100%;
    padding:4px 0;
    color:white;
    margin: 0 6px;
}
.panel-animation__top-bar__area-editors-menus__action-editor-menu .display-timeline-progress.tool{
    color:var(--ligth-color);
}

.panel-animation__top-bar__area-editors-menus__action-editor-menu .duration-form.tool{

}
.panel-animation__top-bar__area-editors-menus__action-editor-menu .duration-form.tool .property-input{
    width:125px;
}

.panel-animation__editors-container{
    height:calc( 100% - var(--panel-animation__top-menu_height));
    width:100%;
    position: relative;
}
.panel-animation__editors-container > [class *= "-editor"]{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    display:flex;
}
.action-editor{
    z-index: 10000;  
    display:flex;
}
.action-editor__timeline-area{
    height:100%;
    flex-grow: 1;
    background:rgb(115, 187, 32);
    position:relative;

}
.action-editor__properties-area{
    height:100%;
    width:200px;
    background:var(--primary-color);
}
/*para poder realizar scroll por js y que no se muestre la barra scroll
debes haber un elemento padre, al cual aplicaras el scroll (parent.scrollTop=N)
y un hijo, el cual contendra todo el contenido, este hijo no debe terner algo en particular.
Pero el padre debe tener overflow hidden y un hegith establecido (mas pequeño que el tamaño del
hijo por supuesto)                              */
.action-editor__properties-area .parent-list{
    overflow: hidden;
    height: 100%;
}
.action-editor__properties-area__list{
    line-height: var(--keyframes-bar__property-lane-height);
    text-align:center;
    list-style:none;
    font-size:1.15rem;
    padding-bottom:500px; /*solo funciona el scroll con un padding bottom, sin uno no funciona*/
}
.action-editor__properties-area__list__item{
    /*outline:1px #4B4B4D solid;*/
    height:25px;
    opacity:1;
}
.action-editor__properties-area__list__item.desabled{
    opacity:0.5;
 }
.action-editor__properties-area__list__item .btn-add-keyframe{
    display: inline-block;
    padding:0 2px 0 2px;
    border:1px solid white;
}
.action-editor__properties-area__list__item__label{
    width:40%;
    display: inline-block;
}
.action-editor__properties-area__list__item__box-inputs{
    display:inline-block;
    width:40%;
}
.action-editor__properties-area__list__item__box-inputs input{
    margin:0;
    padding:0;
    width:30%;
}
.action-editor__properties-area__list__item__box-inputs input{
    width:20%;
}
/*toolbar*/

.action-editor__properties-area__toolbar{
    width:100%;
    background:var(--terciary-color);
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-editor__properties-area__toolbar .tool{
    height:20px;
    width:20px;
    line-height: 20px;
    text-align: center;
    margin:0 4px;
    color:white;
    font-size:1.5rem;
}
.action-editor__properties-area__toolbar .tool:hover{
    color:var(--ligth-color);
    background:rgba(255,255,255,.2);
}
/*delete keyframe tool*/
.action-editor__properties-area__toolbar .tool.disabled{
    color:rgba(255,255,255,.3) !important;
    background: transparent !important;
}
/*menu functions tool*/
.action-editor__properties-area__toolbar .menu-functions.tool.disabled{
    color:rgba(255,255,255,.3);
}
.action-editor__properties-area__toolbar .menu-functions.tool{
    position:relative;
}
.action-editor__properties-area__toolbar .menu-functions__trigger{
    width:20px;
    height:100%;
}
.action-editor__properties-area__toolbar .menu-functions__trigger:before{
    font-family: 'icomoon' !important;
    content: "\e907";
}
.action-editor__properties-area__toolbar .menu-functions__dropdown{
    color:rgba(255,255,255,.9);

    font-size:1.15rem;
    border-radius: 8px;
    border:2px solid rgba(255,255,255,.1);
    display:none;
    position:absolute;
    bottom:25px;
    background:var(--fields-color);
    width:200px;
    padding:10px 20px;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown.active{
    display:block;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__easing-list{
    width:100%;
    margin-bottom:10px;

    display:flex;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__easing-list .item-easing-list{
    border-bottom:1px solid rgba(255,255,255,.2);
    flex-grow: 1;
    margin:0 !important;
    padding:10px;
    text-align: center;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__easing-list .item-easing-list.active{
    border-bottom: 1px solid var(--ligth-color);
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__tween-list{

}
.action-editor__properties-area__toolbar .menu-functions__dropdown__tween-list .item-tween-list{
    padding:5px 0;
    text-align: left;
    position: relative;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__tween-list .item-tween-list:before{
    content:"";
    background:var(--ligth-color);
    border-radius: 50%;
    width:15px;
    height:15px;
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
    display: none;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__tween-list .item-tween-list.active{
    color:#2D88FF;
}
.action-editor__properties-area__toolbar .menu-functions__dropdown__tween-list .item-tween-list.active:before{
    display:block;
}
/*menu add-animation-lane tool*/
.action-editor__properties-area__toolbar .menu-add-animation-lane.tool.disabled{
    color:rgba(255,255,255,.3);
}
.action-editor__properties-area__toolbar .menu-add-animation-lane.tool{
    position:relative;
}
.action-editor__properties-area__toolbar .menu-add-animation-lane__trigger{
    width:20px;
    height:100%;
}
.action-editor__properties-area__toolbar .menu-add-animation-lane__trigger:before{
    font-family: 'icomoon' !important;
    content: "\e90e";
}
.action-editor__properties-area__toolbar .menu-add-animation-lane__dropdown{
    color:rgba(255,255,255,.9);
    font-size:1.15rem;
    border-radius: 8px;
    border:2px solid rgba(255,255,255,.1);
    display:none;
    position:absolute;
    bottom:25px;
    background:var(--fields-color);
    width:150px;
    padding:10px 0;
}
.action-editor__properties-area__toolbar .menu-add-animation-lane__dropdown.active{
    display:block;
}
.action-editor__properties-area__toolbar .menu-add-animation-lane__dropdown__list-lane-names{

}
.action-editor__properties-area__toolbar .menu-add-animation-lane__dropdown__list-lane-names .item-menu-add-animation-lane{
    padding:5px 20px;
    text-align: left;
    position: relative;
}
.action-editor__properties-area__toolbar .menu-add-animation-lane__dropdown__list-lane-names .item-menu-add-animation-lane:hover{
    background: #4e4c4c;
}
/*===================
==== inspector panel
====================*/
.panel-inspector{
    background: var(--primary-color);
    position:absolute;
    right:0;
    top:0;
    height:calc(100vh - var(--panel-animation-height));
    width:300px;
    padding:8px;
    transition-property: right, height;
    transition-duration: .3s;

    display: flex;
    flex-direction: column;

}

/*menu principal*/

.panel-inspector__toolbox{
    display:flex;
    justify-content: center;
}
.panel-inspector__toolbox__tool-item{

    margin:4px;
    height:50px;
    width:55px;
    position:relative;
    cursor:pointer;

}
.panel-inspector__toolbox__tool-item:hover{
    background: var(--terciary-color);
}
.panel-inspector__toolbox__tool-item span{
    font-size:1.15rem;
    display: block;
    width:100%;
}
.panel-inspector__toolbox__tool-item .icon{
    height:55%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-inspector__toolbox__tool-item .label{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-inspector__toolbox__tool-item:after{
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

/*menu areas*/

.panel-inspector__manu-areas ul{
    margin:10px 0;
    padding:15px 0;
    list-style: none;
    border-top:1px solid #bababa;
    border-bottom:1px solid #bababa;
}
.panel-inspector__manu-areas ul li{
    display:inline;
    font-size:1.15em;
    color: #dedede;
    cursor:pointer;
    margin-right:10px;
}
.panel-inspector__manu-areas ul li:hover{
    /*color: #0ec3ef;*/
}
.panel-inspector__manu-areas ul li.active{
    color:var(--ligth-color);
}
/*areas*/
.container-areas-scrollable{
    overflow: auto;
    height: auto;
}
.panel-inspector .container-areas-viewport{
    overflow-x: hidden;
    height:100%;
}
.panel-inspector__container-areas{
    width:200%;
    position:relative;
    left:0;
    transition: .3s all;
}

.panel-inspector__container-areas .area{
    float:left;
    width:50%;
}
/*--------------panel-inspector__area-scene-objects__listing-objects-entrance-----------*/
.area-scene-objects__listing-objects-entrance__title{
    font-size:1.15rem;
    margin-bottom:10px;
}
.area-scene-objects__listing-objects-entrance__box-items
{
    background:var(--secondary-color);
    height:300px;
    overflow: auto;
}

.area-scene-objects__listing-objects-entrance__box-items__item{
    border:1px solid rgba(255,255,255,.5);
    border-radius: 4px;
    display: flex;
    margin-bottom:5px;
    font-size: 1.15rem;
}
.area-scene-objects__listing-objects-entrance__box-items__item .icon{
    width:30%;
    height:65px;
    overflow: hidden;
    padding:10px;
    box-sizing: border-box;
}
.area-scene-objects__listing-objects-entrance__box-items__item .icon .image{
    background: #d0d0d0;
    margin:auto;
    width:100%;
    height:100%;
    overflow: hidden;
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-scene-objects__listing-objects-entrance__box-items__item .icon .image img{
    width: 100%;
    height:auto;

}

.area-scene-objects__listing-objects-entrance__box-items__item .fields-container{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.area-scene-objects__listing-objects-entrance__box-items__item .input-field-box{
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding-left:25px;
}
.area-scene-objects__listing-objects-entrance__box-items__item .input-field-box:first-child{
    margin-bottom:5px;
}
.area-scene-objects__listing-objects-entrance__box-items__item .input-field-box .property-input{
    margin-right:25px;
}
.area-scene-objects__listing-objects-entrance__box-items__item .arrangement-controls-container{
    padding:10px;
    width:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area-scene-objects__listing-objects-entrance__box-items__item .arrangement-controls-container .button-control{
    padding:2px;
    font-size:1.5em;
    border-radius: 3px;
}
.area-scene-objects__listing-objects-entrance__box-items__item .arrangement-controls-container .button-control:hover{
    background:rgba(255,255,255,.3);
}
.area-scene-objects__listing-objects-entrance__box-items #active-item{
    background: rgba(45,136,255,.4);
}
/*--------------panel-inspector__area-scene-objects__listing-objects-all----------------*/
.area-scene-objects__listing-objects-all__title{
    font-size:1.15rem;
    margin-bottom:10px;
}
.area-scene-objects__listing-objects-all__box-items{
    background:var(--secondary-color);
    overflow: auto;
    height: 300px;
}
.area-scene-objects__listing-objects-all__box-items__item{
    height:30px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.15rem;
    padding-left:8px;
    background: var(--item-object);
    margin-bottom:3px;
}
.area-scene-objects__listing-objects-all__box-items__item .group-box-actions__btn-menu{
    margin-left:10px;
    font-size: 1.2em;
    display: inline;
    color:rgba(255,255,255,.8);
}
.area-scene-objects__listing-objects-all__box-items__item .group-object-name{
}
.area-scene-objects__listing-objects-all__box-items__item .group-box-actions{
    margin-left:auto;
}
.area-scene-objects__listing-objects-all__box-items #active-item{
    background: rgba(36, 131, 255,.3);
}
/*floating-menu*/
.section-animable-object-inspector__object-menu{
    background:var(--terciary-color);
    text-align: right;
    position: absolute;
    left:-200px;
    top:-200px;
}
.section-animable-object-inspector__object-menu .object-menu-option{
    color:white;
    position: relative;
    padding:10px 8px 10px 20px;
}
.section-animable-object-inspector__object-menu .object-menu-option .object-menu-option__submenu{
    background:var(--terciary-color);
    position:absolute;
    width:100%;
    color:white;
    left:-100%;
    top:0;
    display:none;
}
.section-animable-object-inspector__object-menu .object-menu-option .object-menu-option__submenu .object-menu-suboption{
    padding:10px 8px 10px 20px;
}
.section-animable-object-inspector__object-menu .object-menu-option:hover .object-menu-option__submenu{
    display: block;
}
/*------------------------panel-inspector__area-object-properties----------------------*/

.panel-inspector__area-object-properties{
}
.area-objects-properties__zone__title{
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom:15px;
}
/* zone object transformation properties*/
.area-objects-properties__zone-transformations{
    border-bottom:1px solid rgba(255,255,255,.2);
    margin-bottom:10px;
}
.area-objects-properties__zone-transformations .box-related-widgets{
    height:25px;
    margin-bottom:10px;
}
.area-objects-properties__zone-transformations .widget{
    height:100%;
    font-size:1.13rem;
    display:flex;
    align-items: center;
    position:relative;
}
.area-objects-properties__zone-transformations .widget.disable:after{
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.2);
    position:absolute;
    left:0;top:0;

}
.area-objects-properties__zone-transformations .widget label{
    width:50%;
    line-height: 100%;
}


.area-objects-properties__zone-transformations .widget-property-opacity .property-input .range-value{
    width:70%;
    display:inline-block;
    vertical-align: middle;
}
.area-objects-properties__zone-transformations .widget-property-opacity .property-input .field-value{
    display: inline-block;
    margin:0;
    padding:0;
    width:25%
}
/* ------------------ area styling object properties */
.area-objects-properties__zone-styles{
    font-size:1.13rem;
}
.area-objects-properties__zone__title{
}
.area-objects-properties__zone-styles__box-floating-panels{
}
.area-objects-properties__zone-styles__box-floating-panels .floating-panel .styling-widget{
    display:flex;
    margin-bottom:10px;
    height:25px;
    align-items: center;
}

.area-objects-properties__zone-styles__box-floating-panels .floating-panel#ShapeAnimable-styling-panel > .row{

}
.area-objects-properties__zone-styles__box-floating-panels .floating-panel#ShapeAnimable-styling-panel .styling-widget.fill{
    position:relative;
}
.area-objects-properties__zone-styles__box-floating-panels .floating-panel#ShapeAnimable-styling-panel .styling-widget.transparent-fill{
    position:absolute;
    right:0;
    top:0;
    width:32%;

    display: flex;
    justify-content: flex-end;
}
.area-objects-properties__zone-styles__box-floating-panels .floating-panel#ShapeAnimable-styling-panel .styling-widget.stroke{
    position:relative;
}
.area-objects-properties__zone-styles__box-floating-panels .floating-panel#ShapeAnimable-styling-panel .styling-widget.transparent-stroke{
    position:absolute;
    right:0;
    top:0;
    width:32%;

    display: flex;
    justify-content: flex-end;
}


.area-objects-properties__zone-styles__box-floating-panels .floating-panel .range-widget{
    display:block;
}
.area-objects-properties__zone-styles__box-floating-panels .floating-panel > .styling-widget > label{
    width:50%;
}
.floating-panel-textanimable .styling-widget.text-alignment .text-alignment__options span.active{
    font-size:2rem;
}

/*=======================
==== PANEL ASSETS   =====
========================*/
.panel-assets{
    position:absolute;
    left:0;
    top:0;
    height:calc(100vh - var(--panel-animation-height));
    width:300px;
    z-index: 900;
    display:flex;
    flex-direction: column !important;
    transition-property: left, height;
    transition-duration: .3s;
}
.panel-assets__menu-sections{
    background: var(--secondary-color);
    display: flex;

}
.panel-assets__menu-sections__item{
    font-weight: bold;
    font-size:1.15rem;
    padding:13px 0;
    text-align:center;
    width:20%;
    color:rgba(255,255,255,.6);
    border-bottom:none;
    cursor:pointer;
    position:relative;
}
.panel-assets__menu-sections__item:after{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.panel-assets__menu-sections__item.active{
    border-bottom:1px solid var(--ligth-color);
    color: white;
}
.panel-assets__sections-container{
    background: var(--primary-color);
    overflow: auto;
    flex-grow: 1;
    position:relative;
}
.panel-assets__sections-container .section-assets{
    width:100%;
    height:100%;
    display:none;
    position:absolute;
    left:0;
    top:0;
    padding:0 8px;
}
.panel-assets__sections-container .section-assets.active{
    display: block;
}
.panel-assets__sections-container .section-assets.image{

    overflow-y:auto;
    overflow-x:hidden;
}
.section-assets__box-options__first-row{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
}

.section-assets__box-options__first-row .btn-add-image{

}
.section-assets__box-options__first-row .search-field-box{
    display: flex;
    width:150px !important;
    overflow: hidden;
}
.section-assets__box-options__first-row .search-field-box input{
    padding:0 10px;
    color:white;
    background: var(--fields-color);
    width: 90%;
    border-radius: 6px;
}
.section-assets__box-options__first-row .search-field-box button{
    margin-left:-15%;
    border-radius:0 6px 6px 0;

    width:15%;
    left:0;
}
.section-assets__box-options__second-row{
    position: relative;
    overflow:hidden;
    height: 100%;
    padding:10px 0;
}
.section-assets__box-options__second-row__menu-categories{
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    font-size:1.15rem;
    padding:15px 0;

    width:650px;
    overflow-x: auto;
    height:100%;
}
.section-assets__box-options__menu-categories__list-categories{
    padding:0 40px;
    list-style: none;
    display: inline-block;
}
.section-assets__box-options__menu-categories__list-categories li{
    margin-right:10px;
}
.section-assets__box-options__second-row__menu-categories button{
    background: var(--secondary-color);
    color:white;
    border:1px solid white;
    font-size: 0.8rem;
    padding:5px 5px;
    cursor: pointer;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.section-assets__box-options__second-row__menu-categories button:first-child{
    left:0;
}
.section-assets__box-options__second-row__menu-categories button:last-child{
    right:0;
}
.section-assets__box-options__menu-categories__list-categories li{
    cursor:pointer;
    display: inline-block;
}
.section-assets__box-options__menu-categories__list-categories li.active{
    color:var(--ligth-color);
}
.section-assets__box-assets{
    display: flex;
    flex-wrap: wrap;
}
.section-assets__box-assets > div{
    box-sizing: border-box;
    display:inline-block;
    width:50%;

    height:90px !important;
    padding:5px;
}
.section-assets .section-assets__btn-load-more{
    cursor:pointer;
    font-size:1.15rem;
    margin:15px auto;
    width:50%;
    border-radius: 20px;
    border:1px solid white;
    color:white;
    text-align: center;
    padding:5px;
}
.section-image-assets__floating-draggable{
    position:absolute;
    z-index: 1000;
    left:-330px;
    top:-330px;
    display: none;
    justify-content: center;
    align-items: center;
}
.section-image-assets__floating-draggable.shape-asset img{
    /*importante establecer ancho y alto explicitamente, ya que
    son svgs, y si no se especifican es como que no tienen una dimencion definida
    y no se centra la imagen*/
    height:100%;
    width:100%;

}
/*specific for image assets*/
.section-assets__box-assets .image-asset__inner-container{
    width:100%;
    height:100%;
    cursor:pointer;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    border:1px solid rgba(255,255,255,.7);
}
.section-assets__box-assets .image-asset__inner-container__image{
    width:auto;
    height:100%;
    display:inline-block;
    max-height: 100%;
    line-height: 0;
}
.section-assets__box-assets .image-asset__btn-options{
    width:30%;
    height:30%;
    background:green;
    position:absolute;
    bottom:5px;
    right:5px;
    display:none;
}


.section-image-assets__item__menu-options{
    position:absolute;
    background:black;
    color:white;
    z-index:1000;
    top:-200px;
    left:-200px;
    display:none;

}
.section-image-assets__item__menu-options__option{
    padding:6px;
    border-bottom:1px solid white;
    text-align:center;
}
.section-image-assets__floating-draggable.image-asset{
    opacity:0.7;
}
.panel-assets__buttons-add-resource button{
    background:peru;
    position:absolute;
    padding:10px 40px;
    bottom:40px;
    right:20px;
}

/*specific to textAnimable*/
.section-assets.text .section-assets__box-options{
    display:none;
}
.section-assets.text .section-assets__box-assets{
    justify-content: space-between;
}
.section-image-assets__floating-draggable.text-asset{
    font-size:2rem;
    padding:10px;
    width:50%;
    text-align: center;
}
.section-assets__box-assets .text-asset p{
    font-size: 2rem;
    border:2px dotted rgba(255,255,255,.5);
    cursor:pointer;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*specific to shapeAssets*/
.section-assets__box-assets .shape-asset img{
    width:100%;
    height:100%;
    background:lightseagreen;
}
.section-image-assets__floating-draggable.shape-asset{

}
/*upload modal panel*/
.panel-assets__modal-upload-image__filter{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
    top:0;
    z-index:3000;
    background:rgba(0,0,0,.5);
}
.panel-assets__modal-upload-image{
    position:absolute;
    background: white;
    width:500px;
    height:500px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.panel-assets__modal-upload-image__btn-close{
    width:20px;
    height:20px;
    background: #ff0000;
    position:absolute;
    right:10px;
    top:10px;
}
/*modal load image from url*/
.panel-assets__modal-load-url-image.modal{
    height:180px;
    width:400px;
}
.panel-assets__modal-load-url-image__body{
    padding:0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.panel-assets__modal-load-url-image__body input{
    width:90%;
    font-size: 1.2em;
    padding:5px;
}
.panel-assets__modal-load-url-image__footer .modal__footer__btn-action:first-child{
    margin-right:10px;
}
/*=======================
==== PANEL PATHS DESIGNER=====
========================*/
/*---------popup----------*/
.panel-paths__popup__filter{
    position:absolute;

    z-index: 2000;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
}
.panel-paths__popup{
    padding:10px;
    background:white;
    text-align:center;

}
.panel-paths__popup__title{
    font-weight: bold;
}
.panel-paths__popup__message{
    font-size: .8em;
    margin-bottom:10px;
}
.panel-paths__popup__box-options{
    display:flex;
    justify-content: space-between;
}
.panel-paths__popup__box-options__option{
    margin-right:10px;
    padding:10px;
}
.panel-paths__popup__box-options__option:last-child{
    margin-right:0;
}

/*=======================
==== previewer Panel=====
========================*/
.modal-effect{
    display:none;
    background:rgba(0, 0, 0, 0.527);
    position: absolute;
    width:100%;
    height:100%;
    z-index:2000;
    left:0;
    top:0;

}
.panel-previewer{
    padding:10px;
    background: white;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    position:absolute;
    z-index:2000;
    border-radius: 4px;
}
.panel-previewer__btn-close{
    color:rgba(255,255,255,.7);
    text-align: center;
    line-height: 20px;
    font-size:0.9em;
    width:20px;
    height:20px;
    right:-9px;
    top:-9px;
    background: #e22929;
    border-radius: 50%;
}

.panel-previewer__canvas-container{
}
#panel-previewer__canvas{
    border:1px solid rgba(0,0,0,.7);
    background:white;
    margin:0 !important;
    padding:0 !important;
}
.panel-previewer__controls{
    width:100%;
    display:flex;
    align-items: center;
}
.panel-previewer__controls__progress-bar{

    background:var(--ligth-color);
}
.panel-previewer__controls__play-btn{
    cursor:pointer;
    border-radius: 50%;
    border:2px solid var(--ligth-color);;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

    color:var(--ligth-color);
    font-family: 'icomoon' !important;
    font-size: 1.3rem;
}
.panel-previewer__controls__play-btn:before{
    content:"\ea1c";
}
.panel-previewer__controls__play-btn.pause:before{
    content:"\ea1d";
}
/*======================
=====  HOME PANEL  =====
=======================*/

.panel-home__body__user-projects-container{
    height: 100%;
}
.panel-home__body__user-projects-container .load-project-form{
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: center;
}
.panel-home__body__user-projects-container #load-project-form__input{
    display: none;
}
.panel-home__body__user-projects-container .load-project-form__label{
    padding:10px;
    font-size: 1.3rem;
    align-self: center;
    background:var(--fields-color);
    cursor:pointer;
}
/*===============================
=====  CONFIGURATION PANEL  =====
===============================*/
.panel-config.modal{
    width: 400px;
}
.panel-config.modal .modal__footer__btn-action:first-child{
    margin-right:10px;
}
.panel-config__body.modal__body{
    padding:0 20px;
}
.panel-config__body__section__title{
    font-size: 1.3rem;
    padding:10px 0;
    border-bottom:1px solid white;
}
.panel-config__body__section__content{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    height:25px;
}
.panel-config__body__section__content .field{
    width:30%;
    height:100%;
}
.panel-config__body__section__content .field__label{
    font-size: 1.3rem;
    display: inline-block;
    width:45%;
    line-height:100%;
    margin:0 !important;
    padding:0 !important;
}
.panel-config__body__section__content .field__text-input{
    margin:0 !important;
    padding:0 !important;
    border:none !important;
    width: 50%;
    height:100%;
}

.panel-config__body__section__content .field__select-input{
    width: 100%;
    height:100%;
}
/*======================
==== canvas-animator==
=======================*/
.canvas-outterContainer{
    position:absolute;
    left:0 !important;
    right:0 !important;
    top:0 !important;
    bottom:0 !important;
    margin:auto !important;
}

@media only screen and (min-width: 1000px) {
    .canvas-outterContainer{
        bottom:auto !important;
    }
}
.canvas-container{

}
.canvas-animator__object__menu-options{
    background:black;
    position: absolute;
    z-index: 2000;
    left:0;
    top:0;
    display: inline-block;
}
.canvas-animator__object__menu-options__option{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.canvas-animator__object__menu-options div{/*items/opciones del menu*/
    background-position: center;
    background-size: 70%;
    background-repeat:no-repeat ;
    border:1px solid #3b3b3b;
}
/*modal object configuration*/
.canvas-animator__object-entrance-configuration__body{
    display:flex;
}
.canvas-animator__object-entrance-configuration__body .title{
    font-size: 1.13rem;
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(255,255,255,.5);
}
/*Object configuration widgets*/
.multiselection-widget{
    margin-bottom:20px;

}
.multiselection-widget__title{
    display:inline;
}
.multiselection-widget__box-options{
    display: inline-flex;
}
.multiselection-widget__option{
    position:relative;
    margin-top:15px;
    margin-left:10px;
    width:50px;
    height:50px;
    border:2px solid rgba(255,255,255,.0);
}
.multiselection-widget__option:first-child{
    margin-left: 0;
}
.multiselection-widget__option img{
    width:100%;
    height:100%;

}
.multiselection-widget__option:after{ /*se refiere a cajas que se pueden convertir en botones*/
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    cursor:pointer;

}
.multiselection-widget__option.active{
    border: 2px solid var(--ligth-color);
}
.multiselection-widget__option:hover .tooltip{
    transition: .2s all;
    transition-delay:.5s;
    display:block;
    opacity: 1;
}
/*entrace settings side*/
.canvas-animator__object-entrance-configuration__entrance-settings{
    width:50%;
    padding:0 10px;
    display: flex;
    flex-direction: column;
    border-right:1px solid #bfbfbf;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-buttons{
    display:flex;
    /*flex-wrap: wrap;*/
    padding:10px 0;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-buttons .entrance-button{
    display:inline-block;
    width: 100%;
    height:100px;
    text-align:center;
    border:1px solid #bfbfbf;
    margin-right:10px;

    position:relative;

    overflow:hidden; /*por seguridad, para que ningun elemento interno escape, ya que si un elemento interno es clickado, error  */

}
.canvas-animator__object-entrance-configuration__entrance-settings .entrance-button.active{
    border: 2px solid var(--ligth-color);
    background: rgba(14,171,233,.3);
}
.canvas-animator__object-entrance-configuration__entrance-settings .entrance-button .entrance-button__icon{
    height:70%;
    padding:15px;
    display:block; /* ya que la imagen tiene in line-height in quitable*/
    margin:auto;
}
.canvas-animator__object-entrance-configuration__entrance-settings .entrance-button .entrance-button__label{

    height:30%;
    font-size: 1.13rem;
}
/*entrance modes configuration widgets*/
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings{
    background: var(--terciary-color);
    flex-grow: 1;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings .mode-settings{
    padding:10px;
    font-size: 1.15rem;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings .mode-settings .drawn-mode-widged{
    align-items: center;

    display:none;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings .mode-settings .drawn-mode-widged p{
    width:45%;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings .mode-settings .drawn-mode-widged.drawn-mode-widget__fill-reveal .fill-reveal-button{
    padding:5px;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings .mode-settings .drawn-mode-widged.drawn-mode-widget__drawing-hand-name .current-drawing-hand-name{
    width:40px !important;
    height:40px !important;
    overflow: hidden;
    background: red;
}
.canvas-animator__object-entrance-configuration__entrance-settings__box-mode-settings .mode-settings .drawn-mode-widged.drawn-mode-widget__drawing-hand-name .current-drawing-hand-name img{
    width:100%;
}
/*footer*/
.canvas-animator__object-entrance-configuration__footer .btn-accept{
    margin-right:10px;
    color:white;
    background: var(--ligth-color);
}
.canvas-animator__object-entrance-configuration__footer .btn-cancel{
    background: #d4d4d4;
    color: #353535;
}

/*select hand section*/
.canvas-animator__object-drawing-hand .box-drawing-hands{
    display: flex;
}
.canvas-animator__object-drawing-hand .box-drawing-hands .drawing-hand-item{
    width:80px;
    height:80px;
    overflow: hidden;
}
.canvas-animator__object-drawing-hand .box-drawing-hands .drawing-hand-item__icon{
    width:100%;
}
.canvas-animator__object-drawing-hand .box-drawing-hands .drawing-hand-item.active{
    border:3px solid red;
}
/*======================
==== JS helper clasess==
=======================*/
.clearfix:after,.clearfix:before{
    content:"";
    display:blocK;
    clear:both;
}