@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dpwhsn');
    src:  url('../fonts/icomoon.eot?dpwhsn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dpwhsn') format('truetype'),
    url('../fonts/icomoon.woff?dpwhsn') format('woff'),
    url('../fonts/icomoon.svg?dpwhsn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-more-options:before {
    content: "\e90f";
  }
  .icon-save:before {
    content: "\e90d";
  }
  .icon-icon-add-lane:before {
    content: "\e90e";
  }
  .icon-add-keyframe:before {
    content: "\e90c";
  }
  .icon-publish:before {
    content: "\e90a";
  }
  .icon-preview:before {
    content: "\e90b";
  }
  .icon-back:before {
    content: "\e900";
  }
  .icon-cursor:before {
    content: "\e901";
  }
  .icon-double-right:before {
    content: "\e902";
  }
  .icon-double-left:before {
    content: "\e903";
  }
  .icon-edit:before {
    content: "\e904";
  }
  .icon-front:before {
    content: "\e905";
  }
  .icon-function:before {
    content: "\e907";
  }
  .icon-settings:before {
    content: "\e908";
  }
  .icon-text:before {
    content: "\e909";
  }
  .icon-pencil:before {
    content: "\e906";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-zoom-in:before {
    content: "\e987";
  }
  .icon-zoom-out:before {
    content: "\e988";
  }
  .icon-lock:before {
    content: "\e98f";
  }
  .icon-bin:before {
    content: "\e9ad";
  }
  .icon-eye:before {
    content: "\e9ce";
  }
  .icon-plus:before {
    content: "\ea0a";
  }
  .icon-minus:before {
    content: "\ea0b";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-checkmark:before {
    content: "\ea10";
  }
  .icon-play:before {
    content: "\ea1c";
  }
  .icon-pause:before {
    content: "\ea1d";
  }
  .icon-stop:before {
    content: "\ea1e";
  }
  .icon-previous:before {
    content: "\ea23";
  }
  .icon-next:before {
    content: "\ea24";
  }
  .icon-eject:before {
    content: "\ea25";
  }
  .icon-move-up:before {
    content: "\ea46";
  }
  .icon-move-down:before {
    content: "\ea47";
  }
  .icon-paragraph-left:before {
    content: "\ea77";
  }
  .icon-paragraph-center:before {
    content: "\ea78";
  }
  .icon-paragraph-right:before {
    content: "\ea79";
  }
  